/* Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");

/* Variables */
:root {
  --heading: #3c3d31;
  --description: #423526;
  --links: #4f5665cc;
}

/* Global Styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e7ecf2 !important;
  font-family: "Playfair Display", serif !important;
}
ul {
  list-style: none;
}
.bg {
  position: fixed;
  bottom: 0%;
  height: 100vh;
  right: 0;
  z-index: -999;
}

/* Header */
.header {
  color: var(--links);
}
.header .btn {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

/* Navbar */
.logo-container {
  background-color: #000;
}
.logo-container .logo {
  letter-spacing: 1px;
}
.consulation-btn {
  font-family: "Helvetica 25 UltraLight", sans-serif;
  font-weight: 700 !important;
  border-radius: 0.4rem !important;
  background-color: var(--heading) !important;
}
.main-nav {
  color: var(--links);
}
.main-nav .active {
  color: var(--heading);
}
/* Main */
.title {
  color: var(--title);
}
.description {
  color: var(--description);
  line-height: 2;
}
.main-img {
  width: auto;
  max-width: 100%;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  /* .bg{
    top: 0; 
    bottom: auto;
  } */
  .description {
    max-width: 470px;
  }
}
